node_modules
bower_components
.DS_Store
npm-debug.log
coverage
jenkins-test-results.xml
npm-debug.log.3975227406
frontend/test/nightwatch-reports
chromedriver
selenium-server-standalone-2.48.2.jar
.vscode
phantomjsdriver.log
selenium-debug.log
*.orig
frontend/src/images
