body {
    background-color: #081827;
    font-family: 'Roboto', Serif;
    font-weight: lighter;
    overflow: hidden;
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

a {
    text-decoration: none;
    color: dimgray;
}