body {
    background-color: #081827;  
    font-family: 'Roboto', Serif;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: darkgray;
}

#page-title {
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 5px;
}

#results-title {
    color: white;
}

#outmost-container{
    position: absolute;
    top: 24%;
    left: 10%;
    width: 80%;
}

/*ja-search-element {
    position: absolute;
    top: 40%;
    width: 80%;
    left: 10%;
}

ja-results-list {
    position: absolute;
    top: 48%;
    left: 10%;
    width: 80%;
}*/